<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SPLUNK"/>
    </root>

    <logger name="org.hibernate" level="ERROR" additivity="true">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SPLUNK"/>
    </logger>

    <logger name="org.springframework" level="ERROR" additivity="true">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SPLUNK"/>
    </logger>

    <logger name="org.springframework.jdbc" level="ERROR" additivity="true">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SPLUNK"/>
    </logger>

    <logger name="io.github.CSCI_40500_Fall_2025.sightsee" level="DEBUG" additivity="true">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SPLUNK"/>
    </logger>
</configuration>
